.bets-bcg {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('bets-index-bcg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 5vh;
}

.new-bet-bcg {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('mer.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: 20vh;
}

.my-bets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vh 15vw;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  margin: 4px 10vw;
}

@media(max-width: 768px) {
  .my-bets {
    grid-template-columns: 1fr;
  }
}

.my-bets-category-name {
  font-weight: bold;
  font-size: larger;
  color: white;
}

.bet-card {
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
}

.bet-card-text {
  font-weight: bold;
  font-style: oblique;
  line-height: 4vh;
  color: $blue;
}

.text-change {
  color: $orange;
}
