// Specific CSS for boat pages

// Index

.boat-bcg {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('ocean.jpg');
  background-size: cover;
  background-position: center;
}

.boat-title {
  color: white;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.boat-category {
  width: 100%;
  padding: 10px;
}

.boat-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.boat-card {
  background-color: white;
  border-radius: 4px 0px;
  padding: 4px;
  text-align: center;
}

.boat-name {
  color: $blue;
  font-weight: bold;
}

.boat-skipper-card {
  display: flex;
}

.boat-skipper {
  font-style: italic;
  font-weight: lighter;
  padding-left: 8px;
}

.logo-category {
  width: 40px;
  height: 40px;
}
