.crew-bcg {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('mer-nuage.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 5vh;
}

.crew-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  grid-auto-rows: 1fr;
  padding: 10px;
}

@media(max-width: 768px) {
  .crew-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.crew-card {
  background-color: white;
  border-radius: 4px 0px;
  padding: 4px;
  text-align: center;
  height: 100%;
}
