.new-crew-bcg {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('mer-nuage.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: 5vh;
}
