<% if bets.empty? %>
  <div class='flex justify-around items-center'>
    <%= link_to "Je fais mes paris en #{category}", new_bet_path(category: category), class: 'btn-main' %>
  </div>
<% else %>
  <div class='bet-card'>
    <% bets.each do |bet| %>
      <div>
        <p class='bet-card-text'><%= bet.position %> - <%= bet.boat.name %></p>
      </div>
    <% end %>
    <%= link_to "Je modifie mes paris en #{category}", new_bet_path(category: category), class: 'text-change' %>
  </div>
<% end %>
