<div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%=image_url("home_bg.jpg")%>')">
  <p class="home-title">Bienvenue sur le site des paris de la course au large <i class="fa-solid fa-sailboat"></i></p>
  <%= @starting_date %>

  <div class="my-10">
    <p><%= link_to "Se connecter", new_user_session_path %></p>
  </div>
  <div class="my-10">
    <p><%= link_to "S'inscrire", new_user_registration_path %></p>
  </div>
</div>
